@media (max-width: 1300px) {
  .quote_btn-container {
    display: none;
  }

  .custom_nav-container .navbar-nav {
    margin: 0;
    margin-left: auto;
    align-items: center;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 15px;
  }
}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }

}

@media (max-width: 768px) {
  .about_section .img-box {
    margin-top: 45px;
  }


  .info_section .contact_nav {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
  }

  .info_section .contact_nav a:not(:nth-last-child(1)) {
    margin-bottom: 25px;
  }

  .info_section .contact_nav a {
    align-items: flex-start;
    text-align: left;
  }

  .info_section .info_top {
    padding: 0;
  }

  .info_section .info_top .row>div {
    margin-bottom: 35px;
  }
}

@media (max-width: 576px) {
  .find_section .form_tab_container ul {
    padding: 0 15px;
}
}
@media (max-width: 480px) {
  .slider_section .detail-box h1 {
    font-size: 2rem;
  }

}

@media (max-width: 420px) {}

@media (max-width: 376px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}