@page "/"
@code {

}
 <section class="slider_section ">
      <div class="slider_bg_box">
        <img src="images/slider-bg.jpg" alt="">
      </div>
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="detail-box">
                    <h1>
                      Find Your <br>
                      Dream House
                    </h1>
                    <div class="col-md-8 px-0">
                      <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam dolore aspernatur dicta, minus consequatur consequuntur, impedit rem nostrum quisquam excepturi assumenda est autem laboriosam. Nulla dignissimos sunt voluptates quam molestiae.
                      </p>
                    </div>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Contact Us
                      </a>
                      <a href="" class="btn2">
                        About Us
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="detail-box">
                    <h1>
                      Find Your <br>
                      Dream House
                    </h1>
                    <div class="col-md-8 px-0">
                      <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam dolore aspernatur dicta, minus consequatur consequuntur, impedit rem nostrum quisquam excepturi assumenda est autem laboriosam. Nulla dignissimos sunt voluptates quam molestiae.
                      </p>
                    </div>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Contact Us
                      </a>
                      <a href="" class="btn2">
                        About Us
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="detail-box">
                    <h1>
                      Find Your <br>
                      Dream House
                    </h1>
                    <div class="col-md-8 px-0">
                      <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam dolore aspernatur dicta, minus consequatur consequuntur, impedit rem nostrum quisquam excepturi assumenda est autem laboriosam. Nulla dignissimos sunt voluptates quam molestiae.
                      </p>
                    </div>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Contact Us
                      </a>
                      <a href="" class="btn2">
                        About Us
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="detail-box">
                    <h1>
                      Find Your <br>
                      Dream House
                    </h1>
                    <div class="col-md-8 px-0">
                      <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam dolore aspernatur dicta, minus consequatur consequuntur, impedit rem nostrum quisquam excepturi assumenda est autem laboriosam. Nulla dignissimos sunt voluptates quam molestiae.
                      </p>
                    </div>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Contact Us
                      </a>
                      <a href="" class="btn2">
                        About Us
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="detail-box">
                    <h1>
                      Find Your <br>
                      Dream House
                    </h1>
                    <div class="col-md-8 px-0">
                      <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam dolore aspernatur dicta, minus consequatur consequuntur, impedit rem nostrum quisquam excepturi assumenda est autem laboriosam. Nulla dignissimos sunt voluptates quam molestiae.
                      </p>
                    </div>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Contact Us
                      </a>
                      <a href="" class="btn2">
                        About Us
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
          <li data-target="#customCarousel1" data-slide-to="3"></li>
          <li data-target="#customCarousel1" data-slide-to="4"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  

  <!-- find section starts -->

  <section class="find_section ">
    <div class="container">

      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="form_tab_container">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav " data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#rent" data-toggle="tab">For Rent</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#buy" data-toggle="tab">For Buy</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-content text-center">
              <div class="tab-pane active" id="rent">
                <div class="Rent_form find_form">
                  <form action="#">
                    <div class="form-row">
                      <div class="col-md-6 px-0">
                        <div class="form-group ">
                          <div class="input-group ">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <img src="images/input-location.png" alt="Location Image" />
                              </div>
                            </div>
                            <input type="text" class="form-control" id="inputRentDestination" placeholder="Enter your Landmark Location" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 px-0">
                        <div class="form-group ">
                          <div class="input-group ">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <img src="images/input-property.png" alt="Property Image" />
                              </div>
                            </div>
                            <input type="text" class="form-control" id="inputRentPropery" placeholder="All Properties" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6 px-0">
                        <div class="form-group">
                          <div class="input-group ">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <img src="images/input-room.png" alt="Room Image" />
                              </div>
                            </div>
                            <select class="form-control" id="inputRentRoom">
                              <option data-display="Room">Room</option>
                              <option value="1">1 </option>
                              <option value="2">2 </option>
                              <option value="3">3 </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 px-0">
                        <div class="form-group">
                          <div class="input-group ">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <img src="images/input-price.png" alt="Money Image" />
                              </div>
                            </div>
                            <input type="text" class="form-control" id="inputRentPrice" placeholder="Price" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="btn-box">
                      <button type="submit" class="">
                        <span>
                          Find Now
                        </span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="tab-pane" id="buy">
                <div class="Buy_form find_form">
                  <form action="#">
                    <div class="form-row">
                      <div class="col-md-6 px-0">
                        <div class="form-group ">
                          <div class="input-group ">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <img src="images/input-location.png" alt="Location Image" />
                              </div>
                            </div>
                            <input type="text" class="form-control" id="inputBuyDestination" placeholder="Enter your Landmark Location" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 px-0">
                        <div class="form-group ">
                          <div class="input-group ">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <img src="images/input-property.png" alt="Property Image" />
                              </div>
                            </div>
                            <input type="text" class="form-control" id="inputBuyPropery" placeholder="All Properties" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6 px-0">
                        <div class="form-group">
                          <div class="input-group ">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <img src="images/input-room.png" alt="Room Image" />
                              </div>
                            </div>
                            <select class=" form-control" id="inputBuyBhk">
                              <option data-display="BHK ">BHK</option>
                              <option value="1">1 </option>
                              <option value="2">2 </option>
                              <option value="3">3 </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 px-0">
                        <div class="form-group">
                          <div class="input-group ">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <img src="images/input-price.png" alt="Money Image" />
                              </div>
                            </div>
                            <input type="text" class="form-control" id="inputBudget" placeholder="Budget" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="btn-box">
                      <button type="submit" class="">
                        <span>
                          find Now
                        </span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- find section ends -->

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour, or randomised words which don't look even slightly believable. If you
              are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
              the middle of text. All
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/about-img.jpg" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- sale section -->

  <section class="sale_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container">
        <h2>
          House For Sale
        </h2>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the
        </p>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="images/s1.jpg" alt="">
            </div>
            <div class="detail-box">
              <h6>
                House
              </h6>
              <p>
                There are many variations of passages of Lorem Ipsum available, but
              </p>
              <a href="">
                View Detail
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="images/s2.jpg" alt="">
            </div>
            <div class="detail-box">
              <h6>
                House
              </h6>
              <p>
                There are many variations of passages of Lorem Ipsum available, but
              </p>
              <a href="">
                View Detail
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="images/s3.jpg" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Apartment
              </h6>
              <p>
                There are many variations of passages of Lorem Ipsum available, but
              </p>
              <a href="">
                View Detail
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="images/s4.jpg" alt="">
            </div>
            <div class="detail-box">
              <h6>
                House
              </h6>
              <p>
                There are many variations of passages of Lorem Ipsum available, but
              </p>
              <a href="">
                View Detail
              </a>
            </div>
          </div>

        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="images/s5.jpg" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Apartment
              </h6>
              <p>
                There are many variations of passages of Lorem Ipsum available, but
              </p>
              <a href="">
                View Detail
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="images/s6.jpg" alt="">
            </div>
            <div class="detail-box">
              <h6>
                House
              </h6>
              <p>
                There are many variations of passages of Lorem Ipsum available, but
              </p>
              <a href="">
                View Detail
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Find More
        </a>
      </div>
    </div>
  </section>

  <!-- end sale section -->

  <!-- why us section -->

  <section class="why_us_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why Choose Us?
        </h2>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/w1.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Satisfied customers
              </h5>
              <p>
                Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                Virginia.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/w2.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                24/7 Support
              </h5>
              <p>
                Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                Virginia.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/w3.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Affordable price
              </h5>
              <p>
                Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                Virginia.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>

  <!-- end why us section -->

  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          What says our Customers
        </h2>
      </div>
      <div class="carousel-wrap ">
        <div class="owl-carousel client_owl-carousel">
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="images/client1.jpg" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      LusDen
                    </h6>
                    <p>
                      magna aliqua. Ut
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="images/client2.jpg" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      Zen Court
                    </h6>
                    <p>
                      magna aliqua. Ut
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="images/client1.jpg" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      LusDen
                    </h6>
                    <p>
                      magna aliqua. Ut
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="images/client2.jpg" alt="" class="box-img">
              </div>
              <div class="detail-box">
                <div class="client_id">
                  <div class="client_info">
                    <h6>
                      Zen Court
                    </h6>
                    <p>
                      magna aliqua. Ut
                    </p>
                  </div>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->